/* base styling */
.react-calendar__navigation {
  display: flex;
  margin-bottom: 1rem;
}

.calendar-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.calendar-wrapper .react-calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 80%;
}

/* react-calendar overrides */
.react-calendar__viewContainer,
.react-calendar__month-view,
.react-calendar__year-view,
.react-calendar__decade-view,
.react-calendar__century-view,
.react-calendar__decade-view__years,
.react-calendar__year-view__months,
.react-calendar__month-view > div:nth-child(1),
.react-calendar__month-view > div:nth-child(1) > div:nth-child(1),
.react-calendar__month-view__days {
  display: flex;
  flex-grow: 1;
  align-items: unset;
}

.react-calendar__decade-view__years,
.react-calendar__year-view__months,
.react-calendar__month-view__days {
  border: 0.1rem solid var(--item-outline-color);
}

.react-calendar__month-view > div:nth-child(1) {
  align-items: unset !important;
}

.react-calendar__month-view > div:nth-child(1) > div:nth-child(1) {
  flex-direction: column;
}

.react-calendar__navigation button {
  height: unset;
}

.react-calendar__navigation {
  border-radius: var(--component-standard-border-radius);
}

.react-calendar__month-view__weekdays__weekday abbr {
  padding-left: 0.6rem;
}

.react-calendar .react-calendar__viewContainer button {
  margin: 0;
  padding: 0.4rem;
  box-shadow: none;
  border-radius: 0;
  border: 0.1rem solid var(--item-outline-color);
  background-color: var(--calendar-tile-background-color);
}

.react-calendar .react-calendar__viewContainer button.react-calendar__month-view__days__day--neighboringMonth {
  background-color: var(--calendar-tile-neighbouring-month-background-color);
}

.react-calendar .react-calendar__viewContainer .react-calendar__month-view__days button {
  height: 16.666%;
}

.react-calendar .react-calendar__viewContainer .react-calendar__year-view__months button,
.react-calendar .react-calendar__viewContainer .react-calendar__decade-view__years button {
  height: unset;
}


.react-calendar .react-calendar__viewContainer button.react-calendar__tile--now.react-calendar__decade-view__years__year,
.react-calendar .react-calendar__viewContainer button.react-calendar__tile--now.react-calendar__year-view__months__month,
.react-calendar .react-calendar__viewContainer button.react-calendar__tile--active {
  color: var(--button-active-accent-color);
  border-color: var(--button-active-accent-color);
  font-weight: bold;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--button-disabled-accent-color);
}

.react-calendar .react-calendar__viewContainer button abbr .event-indicator svg {
  font-size: 0.8rem;
  margin-right: 0.2rem;
}

.react-calendar .react-calendar__viewContainer button abbr .event-indicator {
  display: flex;
  align-items: center;
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem;
  background-color: var(--button-active-accent-color);
  border-radius: var(--component-standard-border-radius);
  margin-top: 0.4rem;
}

.react-calendar .react-calendar__viewContainer button .date-of-month-container {
  height: 100%;
}

.react-calendar .react-calendar__viewContainer button .date-of-month {
  display: flex;
  width: fit-content;
  padding: 0.2rem;
  border-radius: var(--component-standard-border-radius);
}

.react-calendar .react-calendar__viewContainer button.react-calendar__tile--now .date-of-month {
  color: white;
  background-color: var(--button-active-accent-color);
}

/* Styling of bespoke components */
.selected-day-summary-container {
  background-color: var(--page-background-accent-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  margin-right: 1rem;
  flex-basis: 30%;
}

.selected-day-summary-container .selected-day-summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.25rem;
  border-bottom: 1px solid var(--font-faded-color);
}

.selected-day-summary-header h2 {
  margin: 0;
}

.selected-day-summary-header .selected-day-summary-date {
  color: var(--font-faded-color);
  font-weight: bold;
}

.selected-day-summary-header button {
  margin: 0;
  align-self: start;
}

.selected-day-summary-container .selected-day-summary,
.selected-day-summary-container .selected-day-no-events {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.selected-day-summary .selected-day-no-events {
  align-items: center;
  justify-content: center;
  color: var(--font-faded-color);
}

.selected-day-summary .selected-day-events-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  min-height: 0;
  overflow-y: auto;
}

.selected-day-events-list .event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: var(--component-standard-border-radius);
  border: 0.15rem solid var(--item-outline-color);
  background-color: var(--item-background-color);
  transition: var(--component-standard-transition);
}

.selected-day-events-list .event > button,
.selected-day-events-list .event > .button-group {
  opacity: 0;
  transition: var(--button-transition);
  margin: 0;
}

.selected-day-events-list .event .event-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.selected-day-events-list .event .event-timestamp {
  margin-bottom: 0.6rem;
  color: var(--font-faded-color);
  background-color: var(--sticky-note-group-note-count-background-color);
  padding: 0.2rem 0.6rem;
  border-radius: var(--component-standard-border-radius);
  width: fit-content;
}

div.modal-input.event-time-container {
  display: flex;
  align-items: center;
  justify-content:space-between;
  flex-direction: row;
}

.event-time-container .modal-input {
  margin: unset;
}

.selected-day-events-list .event .event-title {
  flex-grow: 1;
  margin-right: 0.6rem;
  cursor: pointer;
}

.selected-day-events-list .event button.mini.event-button {
  margin: 0;
}

.new-event-form-input {
  display: flex;
  flex-direction: column;
}

.new-event-form button,
.new-event-form select {
  margin: 0;
}

#create-new-event {
  float: right;
}

/* behavioural styling */
.react-calendar .react-calendar__viewContainer button:hover {
  box-shadow: none;
  color: inherit;
  background-color: var(--component-hover-accent-background-color);
}

#new-event-title:focus {
  border-color: var(--button-active-accent-color);
  outline: none;
}

.event:hover {
  border-color: var(--button-active-accent-color);
}

.event:hover > button,
.event:hover > .button-group {
  opacity: 1;
}

.event-title:hover {
  cursor: text;
}

.selected-day-events-list .event:focus-within {
  border-color: var(--component-warning);
}
