/* base styling */
.react-calendar__navigation {
  display: flex;
  margin-bottom: 1rem;
}

.calendar-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.calendar-wrapper .react-calendar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 80%;
}

/* react-calendar overrides */
.react-calendar__navigation button {
  margin: 0;
  height: unset;
}

button.react-calendar__navigation__next-button,
button.react-calendar__navigation__prev-button {
  margin: 0 1rem;
}

.react-calendar__viewContainer,
.react-calendar__month-view,
.react-calendar__year-view,
.react-calendar__decade-view,
.react-calendar__century-view,
.react-calendar__month-view > div:nth-child(1),
.react-calendar__month-view > div:nth-child(1) > div:nth-child(1),
.react-calendar__month-view__days {
  display: flex;
  flex-grow: 1;
  align-items: unset;
}

.react-calendar__month-view__days {
  border: 0.15rem solid var(--page-background-accent-color);
}

.react-calendar__month-view > div:nth-child(1) {
  align-items: unset !important;
}

.react-calendar__month-view > div:nth-child(1) > div:nth-child(1) {
  flex-direction: column;
}

.react-calendar .react-calendar__viewContainer button {
  margin: 0;
  box-shadow: none;
  border-radius: 0;
  border: 0.15rem solid var(--page-background-accent-color);
  background-color: var(--calendar-button-background-color);
  flex-grow: 1 !important;
  height: unset;
}

button.react-calendar__tile {
  padding: 2rem;
}

.react-calendar button.react-calendar__tile--active {
  color: var(--button-active-accent-color);
  border: 0.15rem solid var(--button-active-accent-color);
  font-weight: bold;
}

button.react-calendar__tile--active.react-calendar__tile--now {
  color: white;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: var(--button-disabled-accent-color);
}

.react-calendar .react-calendar__viewContainer button abbr .event-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.4rem;
  height: 1.4rem;
  color: white;
  font-size: 0.8rem;
  position: absolute;
  background-color: var(--button-active-accent-color);
  top: 0.4rem;
  left: 0.4rem;
  border-radius: 25%;
}

.react-calendar .react-calendar__viewContainer button .date-of-month {
  display: flex;
  justify-self: center;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  padding: 0.2rem;
  border-radius: 50%;
}

.react-calendar .react-calendar__viewContainer button.react-calendar__tile--now .date-of-month {
  color: white;
  background-color: var(--button-active-accent-color);
}

.react-calendar__navigation {
  border-radius: var(--component-standard-border-radius);
}

/* Styling of bespoke components */
.selected-day-summary-container {
  background-color: var(--page-background-accent-color);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;
  margin-right: 1rem;
  flex-basis: 30%;
}

.selected-day-summary-container .selected-day-summary-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}

.selected-day-summary-header h2 {
  margin: 0;
}

.selected-day-summary-header .selected-day-summary-date {
  color: var(--font-faded-color);
  font-weight: bold;
}

.selected-day-summary-header button {
  margin: 0;
  align-self: start;
}

.selected-day-summary-container .selected-day-summary,
.selected-day-summary-container .selected-day-no-events {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.selected-day-summary .selected-day-no-events {
  align-items: center;
  justify-content: center;
  color: var(--font-faded-color);
}

.selected-day-summary .selected-day-events-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  min-height: 0;
  overflow-y: auto;
}

.selected-day-events-list .event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
  margin-bottom: 0.6rem;
  border-radius: var(--component-standard-border-radius);
  border: 0.15rem solid var(--item-outline-color);
  background-color: var(--item-background-color);
  cursor: pointer;
  transition: var(--component-standard-transition);
}

.selected-day-events-list .event > button,
.selected-day-events-list .event > .button-group {
  opacity: 0;
  transition: var(--button-transition);
  margin: 0;
}

.selected-day-events-list .event .event-details {
  display: flex;
  flex-grow: 1;
}

.selected-day-events-list .event .event-timestamp {
  margin-right: 0.6rem;
  color: var(--font-faded-color);
}

.selected-day-events-list .event .event-title {
  flex-grow: 1;
  margin-right: 0.6rem;
}

.selected-day-events-list .event button.mini.event-button {
  margin: 0;
}

.new-event-form-input {
  display: flex;
  flex-direction: column;
}

.new-event-form button,
.new-event-form select {
  margin: 0;
}

#create-new-event {
  float: right;
}

/* behavioural styling */
.react-calendar .react-calendar__viewContainer button:hover {
  box-shadow: none;
  color: inherit;
  background-color: var(--button-active-background-color);
}

#new-event-title:hover {
  border-color: var(--button-active-accent-color);
}

#new-event-title:focus {
  border-color: var(--button-active-accent-color);
  outline: none;
}

.event:hover {
  border-color: var(--button-active-accent-color);
}

.event:hover > button,
.event:hover > .button-group {
  opacity: 1;
}

.event-title:hover {
  cursor: text;
}

.selected-day-events-list .event:focus-within {
  border-color: var(--component-warning);
}
