.modal-wrapper {
  height: 100vh;
  width: 100vw;
  position:  absolute;
  background-color: #00000054;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-heading h3,
.modal-heading button {
  margin: 0;
}

.modal-content .alert {
  display: block;
  margin: 2rem 0;
}

.modal-input-container {
  margin: 2rem 0;
}

.modal-input-container .modal-input {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

.modal-input-container .modal-input:first-child {
  margin-top: 0;
}

.modal-input-container .modal-input:last-child {
  margin-bottom: 0;
}

.modal-input-container .modal-input label {
  margin-bottom: 0.2rem;
}

.modal-heading button {
  margin-right: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  border: 0.15rem solid var(--item-outline-color);
  background-color: var(--item-background-color);
  border-radius: var(--component-standard-border-radius);
  padding: 1.4rem 1.4rem 1rem 1.4rem;
  min-width: 20rem;
}
