#navbar {
  display: flex;
  place-items: center;
  justify-content: space-between;
  padding: 0 2rem 1rem 2rem;
  background-color: var(--navbar-background-color);
  font-size: 1.7rem;
}

.app-identifier {
  font-family: 'Square';
  cursor: default;
  user-select: none;
}

.app-identifier .app-icon {
  position: relative;
  margin-left: 0.4rem;
  top: 0;
  color: var(--font-faded-color);
}
