#sticky-notes-list-container {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  min-height: 0;
  overflow-y: auto;
}

.sticky-notes-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.sticky-notes-controls {
  margin-bottom: 1rem;
}

.sticky-notes-controls button:first-child {
  margin-left: 0;
}

.sticky-notes-controls button {
  margin: 0 0.6rem;
}

.sticky-note-group .group-title svg,
.sticky-note-group .group-color svg {
  font-size: 1.5rem;
}

.sticky-note-group .group-header {
  background-color: var(--item-background-color);
  border-radius: var(--component-standard-border-radius);
  border: 0.15rem solid var(--item-outline-color);
  transition: var(--component-standard-transition);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  padding-right: 0.4rem;
  min-height: 2.2rem;
}

.sticky-note-group .group-header.expanded {
  margin-bottom: 0;
}

.sticky-note-group .group-header .group-title {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.sticky-note-group .group-header button,
.sticky-note-group .group-header .button-group {
  opacity: 0;
}

.sticky-note-group .group-header .toggle-group-collapsible {
  cursor: pointer;
  margin: 0 0.4rem;
  transition: var(--component-standard-transition);
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-note-group .group-header .button-group {
  margin: 0.3rem;
}

.sticky-note-group .group-color {
  transition: inherit;
  background-color: var(--button-active-accent-color);
  left: 0;
  top: 0;
  width: 0.4rem;
  align-self: stretch;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sticky-note-group .group-color.visible {
  width: 7rem;
}

.sticky-note-group.yellow .group-color,
.sticky-note-group.yellow .group-color select {
  color: #a9a9a9;
}

.sticky-note-group.yellow .group-color,
.sticky-note-group.yellow .sticky-note {
  background-color: var(--sticky-note-yellow);
}

.sticky-note-group.pink .group-color,
.sticky-note-group.pink .sticky-note {
  background-color: var(--sticky-note-pink);
}

.sticky-note-group.green .group-color,
.sticky-note-group.green .sticky-note {
  background-color: var(--sticky-note-green);
}

.sticky-note-group.blue .group-color,
.sticky-note-group.blue .sticky-note {
  background-color: var(--sticky-note-blue);
}

.sticky-note-group .group-color .group-color-select {
  box-shadow: none;
  background-color: transparent;
  margin: 0;
  color: white;
  appearance: none;
  border: none;
}

.sticky-note-group .group-color svg {
  justify-self: end;
  transition: var(--button-transition);
}

#new-sticky-note-group-form button,
#new-sticky-note-group-form select {
  margin: 0;
}

#new-sticky-note-group-form button#create-new-sticky-note-group {
  float: right;
}

.new-sticky-note-group-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#new-sticky-note-group-color option[value=yellow] {
  background-color: var(--sticky-note-yellow);
}

#new-sticky-note-group-color option[value=pink] {
  background-color: var(--sticky-note-pink);
}

#new-sticky-note-group-color option[value=green] {
  background-color: var(--sticky-note-green);
}

#new-sticky-note-group-color option[value=blue] {
  background-color: var(--sticky-note-blue);
}

/* behavioural styling */
.sticky-note-group .group-color:hover {
  width: 1rem;
  cursor: pointer;
}

.sticky-note-group .toggle-group-collapsible:hover {
  color: var(--button-active-accent-color);
}

.sticky-note-group .group-color.visible:hover {
  width: 7rem;
}

.sticky-note-group .group-color svg:hover {
  color: var(--button-active-accent-color);
}

.sticky-note-group select.group-color-select:hover {
  color: var(--button-active-accent-color);
}

.sticky-note-group:hover > .group-header button,
.sticky-note-group:hover > .group-header .button-group {
  opacity: 1;
}

.sticky-note-group .group-header:focus-within {
  border-color: var(--component-warning);
}
