#notes-list-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  min-height: 0;
  overflow-y: auto;
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
  scrollbar-width: thin;
}

.sticky-notes-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.sticky-notes-controls {
  margin-bottom: 1rem;
}

.sticky-notes-controls button {
  margin: 0;
}

.sticky-note button {
  background-color: rgba(0, 0, 0, 0.11);
  color: #3d3d3d;
}

.sticky-notes-group .group-title svg,
.sticky-notes-group .group-color svg {
  font-size: 1.5rem;
}

.sticky-notes-group .group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--item-background-color);
  border-radius: 0.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  position: relative;
  border: 0.15rem solid var(--item-outline-color);
  transition: 0.2s;
  padding-right: 0.4rem;
}

.sticky-notes-group .group-header.collapsed {
  margin-bottom: 0;
}

.sticky-notes-group .group-color {
  transition: 0.1s;
  background-color: var(--button-active-accent-color);
  left: 0;
  top: 0;
  width: 0.4rem;
  align-self: stretch;
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
  overflow: hidden;
  color: white;
  display: flex;
  align-items: center;
}

.sticky-notes-group .group-color.visible {
  width: 7rem;
}

.sticky-notes-group .group-header .group-title {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
}

.sticky-notes-group .toggle-group-collapsible {
  cursor: pointer;
  margin: 0 0.4rem;
  transition: 0.2s;
  align-self: stretch;
}

.sticky-notes-group .toggle-group-collapsible:hover {
  color: var(--button-active-accent-color);
}

.sticky-notes-group.yellow .group-color,
.sticky-notes-group.yellow .group-color select {
  color: #a9a9a9;
}

.sticky-notes-group.yellow .group-color,
.sticky-notes-group.yellow .sticky-note {
  background-color: var(--sticky-note-yellow);
}

.sticky-notes-group.pink .group-color,
.sticky-notes-group.pink .sticky-note {
  background-color: var(--sticky-note-pink);
}

.sticky-notes-group.green .group-color,
.sticky-notes-group.green .sticky-note {
  background-color: var(--sticky-note-green);
}

.sticky-notes-group.blue .group-color,
.sticky-notes-group.blue .sticky-note {
  background-color: var(--sticky-note-blue);
}

.sticky-notes-group .group-header .toggle-group-collapsible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky-notes-group .group-color-select {
  box-shadow: none;
  background-color: transparent;
  margin: 0;
  color: white;
  appearance: none;
}

.sticky-notes-group .group-color svg {
  padding: 0 0.4rem;
  transition: 0.1s;
}

.sticky-notes-group .button-group {
  margin: 0.3rem;
}

.sticky-notes-group .group-header.updating {
  border-color: var(--component-warning);
}

#new-sticky-note-group-form button,
#new-sticky-note-group-form select {
  margin: 0;
}

#new-sticky-note-group-form #create-new-sticky-notes-group {
  float: right;
}

.new-sticky-note-group-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#new-sticky-note-group-form .alert {
  display: block;
  margin: 0 0 1rem 0;
}

/* behavioural styling */
.sticky-notes-group .group-color:hover {
  width: 1rem;
  cursor: pointer;
}

.sticky-notes-group .group-color.visible:hover {
  width: 7rem;
}

.sticky-notes-group .group-color svg:hover {
  color: var(--button-active-accent-color);
}

.sticky-notes-group select.group-color-select:hover {
  color: var(--button-active-accent-color);
}

/* theme styling */
[data-theme="dark"] #notes-list-wrapper {
  scrollbar-color: var(--button-background-color) transparent;
}
