#note {
  border: 1px solid black;
  background-color: white;
  box-shadow: 5px 5px 10px #444444;
  max-width: 190px;
  margin: 12px;
  padding: 18px;
  border-radius: 10px;
  transition: all 0.5s;
  cursor: pointer;
}

#note:hover {
  transform: scale(1.1);
}

#note > .title {
  font-weight: bold;
  padding: 0px 0px 6px 0px;
  border-bottom: 1px solid black;
}

#note > .content { 
  padding: 6px 0px 0px 0px;
}