/* base styling */
#pages-list {
  padding: 0;
  list-style-type: none;
  flex: 1 0 0;
  min-height: 0;
  overflow-y: auto;
  scrollbar-color: var(--scrollbar-thumb-color) transparent;
  scrollbar-width: thin;
}

#pages-controls {
  display: flex;
  justify-content: end;
}

#pages-controls .page-control {
  margin: 0;
}

.page-list-item {
  display: flex;
  border-radius: 0.3rem;
  border: 0.15rem solid var(--item-outline-color);
  background-color: var(--item-background-color);
  transition: 0.2s;
  margin: 0 0 0.5rem 0;
}

.page-list-item .page-list-item-options {
  margin: 1rem 1rem 1rem 0;
}

.page-list-item button {
  margin: 0 0 0 1rem;
}

.page-list-item a {
  display: flex;
  flex-grow: 1;
  padding: 1rem;
  text-decoration: none;
  color: unset;
  align-items: center;
}

.page-list-item-description {
  margin-left: 1rem;
}

.page-list-item-description,
.page-list-item .page-list-item-date-edited span {
  color: var(--font-faded-color);
}

.page-list-item .page-list-item-date-edited {
  margin-left: auto;
}

/* behavioural styling */
.page-list-item:hover {
  background-color: var(--page-list-item-hover-background-color);
  border-color: var(--button-active-accent-color);
  cursor: pointer;
}

/* theme styling */
[data-theme="dark"] #pages-list {
  scrollbar-color: var(--button-background-color) transparent;
}
