@font-face {
  font-family: 'Square';
  src: url('../assets/fonts/Square-721-Extended-Bold.otf');
}

/* base styling */
html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  flex:1;
}

abbr {
  text-decoration: none;
}

.text-input {
  color: var(--font-color);
  border: 0.15rem solid var(--item-outline-color);
  background-color: var(--item-background-color);
  transition: var(--component-standard-transition);
  font-size: 1rem;
  outline: none;
  display: inline-flex;
  align-items: center;
}

.text-input svg {
  margin: 0.2rem;
}

.text-input input {
  margin: 0;
  border: none;
  background-color: transparent;
}

input {
  border: 0.15rem solid var(--fieldset-outline-color);
  color: var(--font-color);
  transition: var(--component-standard-transition);
  padding: 0.4rem;
  font-size: 1rem;
  outline: none;
}

input,
button,
.navlink-button,
.text-input,
select,
.button-group {
  border-radius: var(--component-standard-border-radius);
}

option {
  background-color: var(--page-background-color);
  color: var(--font-color);
}

textarea,
input,
button,
select,
option {
  font-family: "Euro Technic", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

textarea {
  font-size: 1rem;
}

.inline-title-input {
  margin: 0;
  padding: 0;
  border: none;
  flex-grow: 1;
  background: transparent;
  border-radius: 0;
  margin-right: 0.6rem;
}

button, .navlink-button, select {
  border: none;
  margin: 1rem;
  font-size: 1rem;
  box-shadow: 0.25rem 0.25rem 0 0 var(--button-accent-color);
  transition: var(--button-transition);
  cursor: pointer;
  padding: 0.3rem 0.6rem;
  height: fit-content;
  background-color: var(--button-background-color);
  color: var(--font-color);
  position: relative;
}

button svg {
  display: flex;
  font-size: 1.33rem;
}

button.small {
  margin: 0.2rem;
}

button.mini  {
  margin: 0.3rem;
  box-shadow: 0.2rem 0.2rem 0 0 var(--button-accent-color);
  font-size: 0.7rem;
  font-weight: bold;
}

button.mini svg {
  font-size: 1rem;
}

button.small svg {
  font-size: 1.1rem;
}

select.small {
  font-size: 0.9rem;
  padding: 0.2rem 0.6rem;
}

button:disabled, button[disabled] {
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: 0.25rem 0.25rem 0 0 var(--button-disabled-accent-color);
  color: var(--button-disabled-accent-color) !important;
}

button.warning {
  box-shadow: 0 0 0 0.2rem var(--component-warning);
  color: var(--component-warning);
}

.input {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.input input{
  margin-top: 0.2rem;
}
.react-calendar__navigation,
.button-group {
  display: inline-flex;
  box-shadow: 0.25rem 0.25rem 0 0 var(--button-accent-color);
  transition: var(--button-transition);
  background-color: var(--button-background-color);
  color: var(--font-color);
  height: fit-content;
}

.react-calendar__navigation *:first-child,
.button-group *:first-child {
  border-top-left-radius: var(--component-standard-border-radius);
  border-bottom-left-radius: var(--component-standard-border-radius);
}

.react-calendar__navigation *:last-child,
.button-group *:last-child {
  border-top-right-radius: var(--component-standard-border-radius);
  border-bottom-right-radius: var(--component-standard-border-radius);
}

.react-calendar__navigation button,
.button-group button, .button-group select {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}

.button-group .divider {
  border-right: 0.06rem solid var(--font-faded-color);
}

.tooltip:before {
  content: attr(data-text);
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  left:100%;
  margin-left:15px;
  font-size: 0.7rem;
  text-wrap: nowrap;
  padding:10px;
  border-radius:5px;
  background:#000;
  color: var(--font-color);
  text-align:center;
  opacity: 0;
  transition: 0.1s;
  transition-property: opacity;
  pointer-events: none;
}

.tooltip:after {
  content: "";
  position:absolute;
  left:101%; /* extra 1% to stop stickynote transform scale causing issues */
  margin-left:-5px;
  top:50%;
  transform:translateY(-50%);
  border:10px solid #000;
  border-color: transparent black transparent transparent; 
  opacity: 0;
  transition: 0.1s;
  transition-property: opacity;
  pointer-events: none;
}

.tooltip.left:before {
  left: initial;
  margin: initial;
  right: 100%;
  margin-right: 15px;
}

.tooltip.left:after {
  border-color: transparent transparent transparent black;
  left: initial;
  margin: initial;
  right: 100%;
  margin-right: -5px;
}

fieldset {
  border: 0.15rem solid var(--fieldset-outline-color);
  border-radius: var(--component-standard-border-radius);
  margin: 0 0 1rem 0;
}

fieldset legend {
  padding: 0 0.4rem;
}

.alert {
  background-color: var(--button-active-accent-color);
  box-shadow: 0.25rem 0.25rem 0 0 var(--button-accent-color);
  border-radius: var(--component-standard-border-radius);
  transition: var(--component-standard-transition);
  border: none;
  margin: 1rem;
  font-size: 1rem;
  padding: 0.3rem 0.6rem;
  position: relative;
  font-weight: bold;
}

.alert.success {
  background-color: var(--component-success);
}

.alert.warning {
  background-color: var(--component-warning);
}

.alert.error {
  background-color: var(--component-error);
}

.checkbox-switch-container {
  margin: 6px 0;
  display: flex;
  justify-content: space-between;
}

.checkbox-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.checkbox-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--button-background-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px;
}

.checkbox-switch-label {
  margin-left: 0.4rem;
}

.checkbox-container {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox {
  border: 0.15rem solid var(--fieldset-outline-color);
  border-radius: var(--component-standard-border-radius);
  transition: var(--component-standard-transition);
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
}

.checkbox-container .checkbox .checkbox-icon {
  display: none;
  color: white;
  align-items: center;
  justify-content: center;
}

.checkbox-container.outline .checkbox .checkbox-icon {
  color: var(--font-color);
}

.time-input-container {
  box-shadow: 0.25rem 0.25rem 0 0 var(--button-accent-color);
  background-color: var(--button-background-color);
  border-radius: var(--component-standard-border-radius);
  transition: var(--component-standard-transition);
  display: inline-flex;
  margin: 1rem;
  align-items: center;
  width: max-content;
}

.time-input-container select {
  background-color: unset;
  box-shadow: unset;
  border-radius: 0;
}

[data-theme="dark"] .time-input-container select {
  background-color: unset;
}

.time-input-container select:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.time-input-container select:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Toastify__close-button {
  box-shadow: none;
}

/* behavioural styling */
button:hover, .navlink-button:hover, .button-group:hover, .react-calendar__navigation:hover {
  background-color: none;
  box-shadow: 0 0 0 0.2rem var(--button-active-accent-color);
  color: var(--button-active-accent-color);
}

.button-group button:hover, .button-group select:focus, .react-calendar__navigation button:hover {
  box-shadow: none;
  background-color: var(--component-alternate-background-color);
}

button.warning:hover {
  box-shadow: 0 0 0 0.2rem var(--component-warning);
  color: var(--component-warning);
}

button.success:hover {
  box-shadow: 0 0 0 0.2rem var(--component-success);
  color: var(--component-success);
}

button.error:hover {
  box-shadow: 0 0 0 0.2rem var(--component-error);
  color: var(--component-error);
}

button:active, 
.navlink-button:active,
select:focus {
  background-color: #0000002c;
}

.text-input:focus-within, input:focus {
  border-color: var(--button-active-accent-color);
}

select:focus {
  box-shadow: 0 0 0 0.2rem var(--button-active-accent-color);
  outline: none;
}

.tooltip:hover::before, .tooltip:hover::after {
  transition-delay: 0.8s;
  opacity: 1;
}

input:checked + .slider {
  background-color: var(--button-active-accent-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--button-active-accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.checkbox-container input:checked ~ .checkbox {
  background-color: var(--button-active-accent-color);
}

.checkbox-container input:checked ~ .checkbox:after {
  display: block;
}

.checkbox-container input:checked ~ .checkbox .checkbox-icon {
  display: flex;
}

.checkbox-container.outline input:checked ~ .checkbox {
  background-color: transparent;
  border-color: var(--font-color);
}

.time-input-container:hover,
.time-input-container:focus-within {
  box-shadow: 0 0 0 0.2rem var(--button-active-accent-color);
  color: var(--button-active-accent-color);
}

.time-input-container select:focus {
  box-shadow: none;
}

.Toastify__close-button:hover {
  box-shadow: none;
}

/* theme styling */
[data-theme="dark"] .text-input input {
  color: #ebebeb;
}

[data-theme="dark"] select {
  color: #ebebeb;
}
