.titlebar {
  background: var(--navbar-background-color);
  user-select: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titlebar .app-identifier {
  font-family: 'Square';
  margin-left: 0.5rem;
}

.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0.8rem;
  user-select: none;
  -webkit-user-select: none;
  transition: var(--component-standard-transition);
}

.titlebar-button:hover {
  background: var(--component-hover-accent-background-color);
}

.titlebar-button#titlebar-close:hover {
  background: var(--component-error);
  color: white;
}
