/* THEMING VARIABLES */
/* Default theming variables */
:root {
  /* Colors */
  --app-background-watermark-color: #3d3d3d0d;

  --button-background-color: #0000001c;
  --button-active-accent-color: #4a7aff;
  --button-active-background-color: #0000002c;
  --button-accent-color: #000000bf;
  --button-disabled-accent-color: #676767bf;
  --button-hover-background-color: #0000002c;

  --calendar-tile-background-color: #f3f3f369;
  --calendar-tile-neighbouring-month-background-color: #cbcbcb69;

  --checkbox-slider-background-color: #0000000f;

  --component-error: #ff4f4f;
  --component-warning: #ffb121;
  --component-success: #56d356;
  --component-hover-accent-background-color: #4a7aff26;
  --component-alternate-background-color: #0000001c;

  --fieldset-outline-color: #cecece;
  --font-color: #3d3d3d;
  --font-faded-color: #0000004f;
  --item-standard-box-shadow-color: #444444;
  --item-outline-color: #cecece;
  --item-background-color: #fff;
  --navbar-background-color: #ffffff;
  --page-background-color: #ebebeb;
  --page-background-accent-color: #d7d7d7;

  --sticky-note-yellow: #fff672;
  --sticky-note-pink: #ff72ba;
  --sticky-note-green: #88ff72;
  --sticky-note-blue: #72beff;
  --stickynote-font-faded-text: #0000003f;
  --sticky-note-group-note-count-background-color: #00000014;

  --table-highlight-color: #4a7aff4d;

  /* Toastify override */
  --toastify-color-success: var(--component-success);
  --toastify-color-warning: var(--component-warning);
  --toastify-color-error: var(--component-error);

  /* Common styling */
  --component-standard-border-radius: 0.3rem;
  --component-standard-transition: 0.2s;
  --button-transition: 0.1s;
}

/* Dark theming variables */
[data-theme="dark"]:root {
  /* Colors */
  --app-background-watermark-color: #3d3d3d1c;

  --button-background-color: #ffffff17;

  --calendar-tile-background-color: #ffffff08;
  --calendar-tile-neighbouring-month-background-color: #ffffff10;

  --checkbox-slider-background-color: #ffffff0a;

  --component-alternate-background-color: #cfcfcf14;
  --fieldset-outline-color: #757575;
  --font-color: #ebebeb;
  --font-faded-color: #ffffff4f;
  --item-standard-box-shadow-color: #000000;
  --item-outline-color: #0e0e0e;
  --item-background-color: #232433;
  --navbar-background-color: #161821;
  --page-background-color: #1e202d;
  --page-background-accent-color: #191a29;

  --sticky-note-group-note-count-background-color: var(--page-background-accent-color);

  /* Toastify styling */
  --toastify-color-dark: var(--page-background-accent-color);
}

:root {
  font-family: "Euro Technic", Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: var(--font-color);
  background-color: var(--page-background-color);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
}

#root {
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}